GITHUB_TOKEN=Твой_Гитхаб_токен
NAME=Имя_базы_данных
USER=пользователь_БД
PASSWORD=пароль_для_БД
PORT=порт
HOST=хост
EMAIL_HOST_USER = почта хоста
EMAIL_HOST_PASSWORD = пароль для почты хоста
SECRET_KEY=
DEBUG=
PUBLISHABLE_KEY=stripe
SECRET_KEY_STRIPE=stripe
CELERY_BROKER_URL =
CELERY_RESULT_BACKEND =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =